@model SocialMediaQuery.Models.Results.YouTubeSearch
@{
    ViewBag.Title = "YouTube Query Results Page";
}

<div class="jumbotron">
    <h1>YouTube results for: @Model.Query</h1>
</div>

<div class="container-fluid">
    <div class="row">
        @Html.Raw(Model.ResultsXml)
    </div>
</div>
